#login {
	margin: 2em auto;
	width: 20em;
	padding: 1em;
	text-align: center;
}

#login label{
	padding: 1.5em;
	padding-left: 0;

	display: inline-block;

	text-align: center;
	font-weight: bold;
}

#login input {
	display: block;

	margin: 0 auto;

	border: none;
	border-bottom: 2px solid #666666;

	background-color: #F7EBE8;
}

#login input[type=submit] {
	width: auto;

	background-color: black;
	color: white;

	border: none;
	margin: 1em;
	padding: 1em;
	margin-left: auto;
}

#login input:focus {
	outline: none;
}

#login button {
	margin: 1em;
	margin-left: 0;
	padding: 1em;

	margin-top: 1.2em;

	background-color: #5E6572;
	color: white;

	border: none;
}

#login button:hover {
	background-color: #7D98A1;
	color: white;
}