.subscription{
    position: relative;
    left: 1070px;
    top: -20px;
    background-color: #f95d34;
    border: none;
    color: white;
    padding: 18px 34px;
    font-size: 18px;
    
}

.subscription:hover
{
    background-color: #f81109;
}

#createChannelText{
    position: relative;
    top: 9px;
    left: 800px;
    font-size: 14px;  
    padding: 12px 24px;
}

#createChannelButton{
    position: relative;
    top: 10px;
    left: 810px;
    background-color: #f95d34;
    border: none;
    color: white;
    padding: 16px 34px;
    font-size: 18px;  
    margin-bottom: 10px;
}

#createChannelButton:hover
{
    background-color: #f81109;
}