#top_ch {
   display: flex;
   flex-direction: row;
}

#top_ch button {
    display: block;
    flex: 1;
    
    background-color: #39393A;
    
    border: none;
}

#top_ch button:hover {
    background-color: #606061;
}

#top_ch button:not(:last-child) {
    border-right: 2px solid white;
}

#top_ch button h1 {
    font-size: 18px;
    color: white;

    margin-top: 0.5em;
    margin-bottom: 0;
}

#top_ch button h2 {
    font-size: 12px;
    color: #a0a0a0;
    line-height: 15px;

    margin-bottom: 0.5em;
}