#top_ch {
   display: flex;
   flex-direction: row;
}

#top_ch button {
    display: block;
    flex: 1;
    
    background-color: #666666;
    color: white;

    border: none;
}

#top_ch button:hover {
    background-color: gray;
}

#top_ch button:not(:last-child) {
    border-right: 2px solid white;
}

#top_ch button h1 {
    font-size: 1.55em;
    margin-bottom: 0;
}

#top_ch button h2 {
    font-size: 0.88em;
    color: #a0a0a0;
}